/* *{
    border: 1px solid gold;
} */

h1 {
    margin-top: .25%;
    display: flex;
    justify-content: center;
}

h2 {
    margin-left: 48vw;
    margin-right: 50vw;
}

p {
    margin-left: 5vw;
    margin-right: 5vw;
}

#guide {
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
    background-image: url("https://cdn.shopify.com/s/files/1/0997/9924/products/image1_6_1024x1024.JPG?v=1476651583");
    background-size: cover;
}

.guide-buttons {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
    /* margin: 1% auto 2% auto; */
    margin-left: 45%;
    margin-right: 44%;
}

#guide-footer {
	/* text-align: right; */
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}

body {
    background-image: url("https://cdn.shopify.com/s/files/1/0997/9924/products/image1_6_1024x1024.JPG?v=1476651583");
    background-size: cover;
}
    /* background-repeat: no-repeat;
    height: 100%;
    width: 100%;

/* race */

.main-content {
    display: flex;
    margin-top: .5%;
}

/* .container {
    width: 35%;
} */

.flip {
    align: center;
    margin-left: 45%;
    margin-right: 50%;
}

/* RACES */

.race-container {
    display: inline-block;
    width: 35vw;
    height: 80.75vh;
}

.race-images {
  width: 80%;
  padding: 0px;
  height: 70%;
  /* box-sizing: border-box ; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 11vh;
}

.race-images img {
  width: 75%;
  /* border-radius: 10px; */
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.race-images img:first-of-type {
    display: block;
}

.race-button {
  align-self: center;
  background: black;
  padding: 5px 5px;
  text-align: center;
}

#previous-race:hover {
  cursor: pointer;
}


#next-race:hover {
  cursor: pointer;
}

.previous-race {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* CLASSES */

.class-images {
  width: 60%;
  padding: 0px;
  height: 50%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 27.5vh;
}
.class-images img {
  width: 60%;
  /* border-radius: 10px; */
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.class-button {
  background: black;
  padding: 5px 5px;
  /* border-radius: %; */
  text-align: center;
}
.class-button:hover {
  cursor: pointer;
  background: black;
  /* box-shadow: 1px 1px #f2cd99; */
  color: white;
}

.class-images img:first-of-type {
    display: block;
}

.classes-container {
    display: inline-block;
    width: 35vw;
    height: 80vh;
}

/* ABILITY SCORES */

ul {
    font-size: 25px;
    line-height: 3em;
}
li {
    list-style-type: none;
}

#stat-roll {
    padding: 5px 10px;
    margin-left: 45%;
    margin-right: 45%;
}

.ability-scores {
    width: 35vw;
}

/* MOBILE */
/* @media (max-width 640px); */
